Data Structures in pandas

Series    - 1D
DataFrame - 2D

what can do with pandas ?
we can do following things
- is there any corelation between two or more columns
- what is average value
- max value ?
- min value ?
- pandas also able to delete rows that are not relevent or containing wrong values like null or empty values. this is called cleanig the data

In [1]:
# importing pandas library
import pandas as pd

In [2]:
# series
# 1D - ndarray with axis label

In [3]:
# checking pandas version
print(pd.__version__)

2.1.1

syntax to create for Series

pd.Series(data,index)

In [4]:
s=[1,2,3,4,5]
print(type(s))

<class 'list'>

## creating series from list

In [5]:
s = pd.Series([1,2,3,4,5])
print(s)
print(type(s))

0    1
1    2
2    3
3    4
4    5
dtype: int64
<class 'pandas.core.series.Series'>

## creating series from ndarray

In [6]:
import numpy as np
data = np.array([1,2,3,4,5])
s = pd.Series(data)
s

0    1
1    2
2    3
3    4
4    5
dtype: int32

In [7]:
# customizing the index numbers
data = np.array(['a','b','c','d'])
s = pd.Series(data,index=[100,101,102,103])
print(s)

100    a
101    b
102    c
103    d
dtype: object

## creating series from dictionary

In [9]:
names_dict={
    'jagan':97514,
    'raj':78932,
    'dhana':99402,
    'nanna':88837
}

population = pd.Series(names_dict)
print(s)
print(type(s))

jagan    97514
raj      78932
dhana    99402
nanna    88837
dtype: int64
<class 'pandas.core.series.Series'>

In [12]:
population['jagan'] # retreving the data by using label name explicitly - label given by user

97514

In [17]:
population.iloc[0] # retreving the data by using default index implicit by python

97514

In [18]:
population['jagan':'nanna'] # slicing

jagan    97514
raj      78932
dhana    99402
nanna    88837
dtype: int64

In [21]:
pd.Series([2,3,4])

0    2
1    3
2    4
dtype: int64

In [22]:
pd.Series([2,4,5],index=[100,200,300])

100    2
200    4
300    5
dtype: int64

In [27]:
s = pd.Series([2,4,5],index=[100,200,300])
s.reset_index() # this is dataframe

   index  0
0    100  2
1    200  4
2    300  5