## import libraries

In [109]:
import numpy as np
import pandas as pd

## import dataset

In [110]:
path = r'C:\Users\jagan\Documents\Colab Notebooks\Part 1 - Data Preprocessing\data.csv'
dataset = pd.read_csv(path)
dataset

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [113]:
## split the dataset 
X = dataset.iloc[:,:-1].values
y = dataset.iloc[:,-1].values

In [114]:
print(X)

[['France' 44.0 72000.0]
 ['Spain' 27.0 48000.0]
 ['Germany' 30.0 54000.0]
 ['Spain' 38.0 61000.0]
 ['Germany' 40.0 nan]
 ['France' 35.0 58000.0]
 ['Spain' nan 52000.0]
 ['France' 48.0 79000.0]
 ['Germany' 50.0 83000.0]
 ['France' 37.0 67000.0]]

In [115]:
print(y)

['No' 'Yes' 'No' 'No' 'Yes' 'Yes' 'No' 'Yes' 'No' 'Yes']

In [118]:
## filling mean values in Nan places

from sklearn.impute import SimpleImputer

imputer = SimpleImputer(missing_values = np.nan, strategy = 'most_frequent')
X[:,1:] = imputer.fit_transform(X[:,1:])
print(X)

[['France' 44.0 72000.0]
 ['Spain' 27.0 48000.0]
 ['Germany' 30.0 54000.0]
 ['Spain' 38.0 61000.0]
 ['Germany' 40.0 48000.0]
 ['France' 35.0 58000.0]
 ['Spain' 27.0 52000.0]
 ['France' 48.0 79000.0]
 ['Germany' 50.0 83000.0]
 ['France' 37.0 67000.0]]

In [119]:
# encoding the categorical data

from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [0])], remainder = 'passthrough')
X = np.array(ct.fit_transform(X))
print(X)

[[1.0 0.0 0.0 44.0 72000.0]
 [0.0 0.0 1.0 27.0 48000.0]
 [0.0 1.0 0.0 30.0 54000.0]
 [0.0 0.0 1.0 38.0 61000.0]
 [0.0 1.0 0.0 40.0 48000.0]
 [1.0 0.0 0.0 35.0 58000.0]
 [0.0 0.0 1.0 27.0 52000.0]
 [1.0 0.0 0.0 48.0 79000.0]
 [0.0 1.0 0.0 50.0 83000.0]
 [1.0 0.0 0.0 37.0 67000.0]]

In [121]:
# encoding the dependent variable

from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
y = le.fit_transform(y)
print(y)

[0 1 0 0 1 1 0 1 0 1]

In [123]:
# splitting data into train set and test set

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state=42)

In [124]:
print(X_train)

[[1.0 0.0 0.0 35.0 58000.0]
 [1.0 0.0 0.0 44.0 72000.0]
 [1.0 0.0 0.0 48.0 79000.0]
 [0.0 1.0 0.0 30.0 54000.0]
 [1.0 0.0 0.0 37.0 67000.0]
 [0.0 1.0 0.0 40.0 48000.0]
 [0.0 0.0 1.0 38.0 61000.0]
 [0.0 0.0 1.0 27.0 52000.0]]

In [125]:
print(X_test)

[[0.0 1.0 0.0 50.0 83000.0]
 [0.0 0.0 1.0 27.0 48000.0]]

In [126]:
print(y_train)

[1 0 1 0 1 1 0 0]

In [127]:
print(y_test)

[0 1]

In [ ]:
# now feature scaling the independent variable. scaling the values same range

In [129]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
X_train[:,3:] = sc.fit_transform(X_train[:,3:])
X_test[:,3:] = sc.transform(X_test[:,3:])

In [130]:
X_train

array([[1.0, 0.0, 0.0, -0.3687409228350686, -0.34008706223560986],
       [1.0, 0.0, 0.0, 1.0285931005399283, 1.0706444551861791],
       [1.0, 0.0, 0.0, 1.649630444262149, 1.7760102138970737],
       [0.0, 1.0, 0.0, -1.1450376024878446, -0.7431532100704068],
       [1.0, 0.0, 0.0, -0.058222250973958195, 0.5668117703926832],
       [0.0, 1.0, 0.0, 0.4075557568177074, -1.3477524318226022],
       [0.0, 0.0, 1.0, 0.09703708495659699, -0.037787451359512204],
       [0.0, 0.0, 1.0, -1.6108156102795101, -0.9446862839878052]],
      dtype=object)

In [131]:
X_test

array([[0.0, 1.0, 0.0, 1.9601491161232594, 2.1790763617318705],
       [0.0, 0.0, 1.0, -1.6108156102795101, -1.3477524318226022]],
      dtype=object)